/* Container principal */
.home-container {
    margin: 20px 20px 0 20px;
}

/* Título da home */
.home-title {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #005f20;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Título do saldo */
.saldo-title {
    background-color: #00882d;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 30px;
    color: white;
    font-size: 1.8rem;
}

.money-context {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 100%;
}

/* Tabelas de entradas e saídas */
.table-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
    flex-wrap: wrap; /* Permite a quebra em telas menores */
}

.table-entrada, .table-saida {
    background-color: #b2ebf2;
    padding: 20px;
    margin: 10px;
    width: 100%; /* Torna a tabela fluida */
    border-radius: 10px;
    text-align: center;
}

/* Títulos das tabelas */
h3 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 10px;
    color: #005f20;
}

/* Estilização da tabela */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid #003a13;
    border-radius: 2px;
}

th {
    background-color: #005f20;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

td {
    background-color: white;
}

th, td {
    padding: 8px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
}

/* Botões de criar entradas/saídas */
.button-create-entrada, .button-create-saida {
    padding: 10px 20px;
    margin-top: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    text-align: center;
    width: 100%; /* Ajuste para ocupar o tamanho completo */
    font-size: 1.4rem;
    font-weight: bold;
}

.button-create-entrada {
    background-color: #39c03d;
}

.button-create-saida {
    background-color: #f44336;
}

.button-create-entrada:hover, .button-create-saida:hover {
    transform: scale(1.05);
}

/* Container de botões */
.button-container {
    display: flex;
    flex-direction: column; /* Para telas menores, alinhar botões verticalmente */
    gap: 10px;
}

/* Estilização do modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.form-create {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw; /* Responsivo: modal ocupa 90% da largura da viewport */
    max-width: 500px; /* Limite de largura para telas maiores */
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h3 {
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.modal-content form input {
    font-size: 1.4rem;
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 2px solid black;
    border-radius: 5px;
}

/* Botões dentro do modal */
.modal-content button {
    padding: 10px 20px;
    background-color: #45a049;
    margin-bottom: 15px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    text-align: center;
    font-size: 1.6rem;
    width: 100%; /* Ocupa 100% da largura no modal */
}

/* Responsividade */
@media (max-width: 768px) {
    .table-container {
        flex-direction: column; /* Colocar tabelas empilhadas em telas menores */
    }

    .table-entrada, .table-saida {
        width: 100%; /* As tabelas ocupam 100% da largura em telas pequenas */
    }

    .saldo-title, h3, th, td, .button-create-entrada, .button-create-saida {
        font-size: 1.4rem; /* Ajusta tamanho da fonte para melhor legibilidade */
    }
}

@media (max-width: 480px) {
    .home-title, .saldo-title {
        font-size: 1.6rem; /* Títulos menores para smartphones */
    }

    .button-create-entrada, .button-create-saida {
        padding: 10px;
        font-size: 1.2rem; /* Botões mais compactos em telas pequenas */
    }

    th, td {
        font-size: 1.2rem; /* Reduz a fonte das tabelas para melhor visualização em smartphones */
    }
}
