.navbar-container {
    width: 100%;
    height: 95px;
    position: absolute;
    display: flex;
    align-items: center;
    background-color: #005f20;
}

.navbar-title {
    font-size: 2.5rem;
    color: #fff;
    margin-left: 45px;
    font-weight: 600;
}

